* {
  box-sizing: border-box;
}

h1 {
  color: #fab95b;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f0cd;
  text-align: center;
  padding: 1.25rem;
}
.stats {
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-weight: bold;
  margin-top: 1rem;
}

.gameGrid {
  display: grid;
  grid-template-columns: repeat(4, 7.5rem); /* 4 columns */
  gap: 1rem;
  justify-content: center;
  margin-top: 1.875rem;
}

.card {
  width: 7.5rem;
  height: 10rem;
  perspective: 1000px;
  cursor: pointer;
}

.cardInner {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.cardFlipped .cardInner {
  transform: rotateY(180deg);
}

.cardFront,
.cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  backface-visibility: hidden;
  overflow: hidden;
}

.cardFront {
  background-color: #81bfda;
}

.card.matched {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s;
}

/* Back: image */
.cardBack {
  transform: rotateY(180deg);
}

.cardBack img {
  width: 100%;
  height: 100%;
}
.winMessage {
  text-align: center;
}

.restartBtn {
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: #fab95b;
  color: white;
}
